h1 {
    margin: 0 0 10px 0;
}
/*
.form-horizontal .help-block {
    margin: 0 0 20px 0;
}
*/
.search-form {
    margin: 20px 0 0 0;
}


/* nested sortable */
.tree ol.sortable {
    list-style: none;
    margin: 0;
    padding: 0;
}

.tree ol {
    margin: 0 0 0 40px;
    padding: 0;
}

.tree li {
    display: block;
    font-size: 13px;
    line-height: 20px;
    margin: 0;
    min-height: 20px;
    padding: 0;
    position: relative;
}

.tree div {
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FAFAFA;
    border: 1px solid #CCCCCC;
    color: #333333;
    cursor: move;
    display: block;
    font-weight: 400;
    height: 30px;
    margin: 5px 0;
    padding: 5px 10px;
    text-decoration: none;
}

.tree div a{
    text-decoration: none;
    color: #333333;
}

.tree div a:hover{
    color: #2ea8e5;
}

.tree div:hover { color: #2ea8e5; background: #fff; }

.tree i.icon-move {
    cursor: move;
    margin: 2px 5px;
}

.disclose {
    cursor: pointer;
    width: 15px;
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable li.mjs-nestedSortable-expanded > div > .disclose > span:before {
    content: '\f068';
    font-family: 'FontAwesome';
    font-size: 10px;
    font-weight: bold;
    color: #000 !important;
}

.sortable li.mjs-nestedSortable-collapsed > div > .disclose > span:before {
    content: '\f067';
    font-family: 'FontAwesome';
    font-size: 10px;
    font-weight: bold;
    color: #000 !important;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

/* end nested sortable */
.placeholder {
    border: 1px dashed #4183C4;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.panel-w  a {
    text-decoration: none;
}

.panel-w a:hover {
    text-decoration: none;
}

.tree {
    margin: 10px 0;
}

.form-horizontal .wys {
    margin-left: 180px;
    margin-bottom: 10px;
}

.form-vertical .wys {
    display: block;
    clear: both;
    margin-bottom: 10px;
}



#confirm-dialog {
    width: 500px;
    margin: -150px 0 0 -250px;
}

.alert.alert-block {
    padding: 8px 35px 8px 14px;
}

.fileupload-new {
    margin: 0 0 10px 0;
}

.ff-thumb {
    width: auto;
    float:left;
}

.ff-thumb-label {
    color: gray;
    font-size: 10px;
    text-transform: uppercase;
}



.wmk_grid ul li {
    display: block;
    margin: 0 7px 7px 0;
    width: 200px;
    float: left;
}

.fupload {
    margin-top: 20px;
}

.uploadifyQueueItem {
    background-color: #fff;
    border: 2px solid #E5E5E5;
    font: 11px Verdana, Geneva, sans-serif;
    margin-top: 5px;
    padding: 10px;
    width: 350px;
    border-radius: 5px;

}

.uploadifyError {
    background-color: #FDE5DD !important;
    border: 2px solid #FBCBBC !important;
}

.uploadifyQueueItem .cancel {
    float: right;
}

.uploadifyQueue .completed {
    background-color: #E5E5E5;
}

.uploadifyProgress {
    background-color: #E5E5E5;
    margin-top: 10px;
    width: 100%;
}

.uploadifyProgressBar {
    background-color: #0099FF;
    height: 3px;
    width: 1px;
}

#passwordGen {
    width: 500px;
    margin: -100px 0 0 -250px;
}

.newsletter-row {
    margin: 30px 0;
    text-align: center;
}

#rowModal, #imageUpload {
    width: 500px;
    margin: -100px 0 0 -250px;
}

#image-row label {
    display: none;
}

.subscribers {
    margin: 0 0 30px 180px;
}

#sendNewsletter {
    margin-top: 50px;

}

.chosen-container { width: 100% !important; }

/* Font Awesome buttons size backend */
.fa-backend{
    font-size: 18px;
    color:#333;
}
.thumb-image .active {
  background-color: #16a085;
}
.thumb-image img:hover {
  cursor:pointer;
}
.thumbnail-box {
  padding: 5px;
  background-color: #F0F0F0;
}
.thumbnail-box img {
  width:100%;
}
.thumb-content {
  padding: 0px 0px 5px 0px;
  /* background-color: #F2F2F2; */
  /* margin-bottom: 5px; */
  text-align: right;
}
.thumb-content a.main {
  background-color: #16a085;
  padding: 3px;
  width: 28px;
  display: inline-block;
  text-align: center;
}
.thumb-content a.main:hover {
  background-color: #21c2a2;
}
.thumb-content a.delete {
  background-color: #c10000;
  padding: 3px;
  width: 28px;
  display: inline-block;
  text-align: center;
}
.thumb-content a.delete:hover {
  background-color: #e40000;
}
.thumb-content a i {
  color:#fff;
}
.thumb-content a {
	-webkit-transition: background-color .2s ease-in-out;
	   -moz-transition: background-color .2s ease-in-out;
		-ms-transition: background-color .2s ease-in-out;
		 -o-transition: background-color .2s ease-in-out;
	        transition: background-color .2s ease-in-out;
  margin-left: 3px;
}
.thumb-content a:hover {
	-webkit-transition: background-color 0.3s ease-in-out;
	   -moz-transition: background-color 0.3s ease-in-out;
		-ms-transition: background-color 0.3s ease-in-out;
		 -o-transition: background-color 0.3s ease-in-out;
	        transition: background-color 0.3s ease-in-out;
  
}
.navbar-logo {
    color: #fff;
    opacity: 0.8;
    padding: 8px 20px 5px 10px;
    display: block;
    font-size: 16px;
}
.navbar-logo:hover {
    text-decoration: none;
    color:#fff;
}

.editable-click, a.editable-click, a.editable-click:hover {
    border-bottom: none !important;
    text-decoration: none;
}

span.handle-sortable {
    background-image: url("../img/drag_handleRectArrows.png");
    background-repeat: no-repeat;
    background-position: center center;
    display:block;
    cursor: move;
    height: 100%;
    position: absolute;
    width: 30px;
    top:-2px;
}

.move-block {
    position:relative;
    width: 39px;
    background-color:transparent!important;
}

.wraper-pagesizer {
    display: inline-block;
    width: 210px;
}

.wraper-pagesizer .select2-container {
    min-width: 60px;
}

.file-preview-image {
    max-width: 50em !important;
}